/* CheckSecret.module.css */

.checkSecretContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
/* CheckSecret.module.css */

.checkSecretTitle {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative; /* Required for positioning the pseudo-element */
    display: inline-block; /* Ensures the underline only takes up the width of the text */
  }
  
  .checkSecretTitle::after {
    content: '';
    display: block;
    width: 100%; /* Full width of the title */
    height: 3px; /* Thickness of the underline */
    background-color: #ffd700; /* Bright yellow color */
    position: absolute;
    bottom: -10px; /* Distance from the bottom of the title */
    left: 0;
  }
  

  .checkSecretText {
    color: #666;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .checkSecretStrong {
    font-weight: bold;
    display: block; /* Make the encrypted address stand out on its own line */
    margin-bottom: 1rem;
  }
  
  .checkSecretButton {
    background-color: #ffd700;
    color: #333;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .checkSecretButton:hover {
    background-color: #cca700;
  }
  
  .checkSecretUnlinkInfo {
    color: #666;
    font-size: 0.9rem;
    margin-top: 2rem;
  }
  