.supportAccess {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supportTitle {
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    position: relative; 
    display: inline-block;
}

.supportTitle::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffd700;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.supportText {
    color: #666;
    font-size: 1rem;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.supportLink {
    background-color: #ffd700;
    color: #333;
    padding: 12px 24px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 2;
}

.supportLink:hover {
    background-color: #cca700;
}

.animationContainer {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 40px; /* Adjust left as needed */
    transform: translateY(-50%) scale(1.5); /* Adjust scale to enlarge */
    z-index: 1; /* Below the text and button */
    overflow: hidden;
}

@media (max-width: 768px) {
    .supportAccess {
        padding: 15px;
    }
    .supportTitle, .supportText {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .supportLink {
        padding: 10px 20px;
    }
    .animationContainer {
        position: static;
        transform: none;
        width: auto;
        height: auto;
        margin: 0 auto 20px; /* Add some space below the animation on mobile */
    }
}
