/* src/components/Common/Footer.css */

.footer {
  background-color: #000000; /* Dark theme background */
  color: #CCCCCC; /* Light gray text for better readability */
  padding: 20px 0; /* Vertical padding for the footer */
  font-size: 14px; /* Base font size for footer text */
  line-height: 1.5; /* Line height for footer text */
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px; /* Maximum width of the footer container */
  margin: 0 auto;
  padding: 0 15px;
}

.footer-links,
.footer-open-source {
  margin-bottom: 20px;
}

.footer-links a,
.footer-open-source a {
  color: #FF9800; /* Primary color for links */
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s ease; /* Speed of transition effects */
}

.footer-links a:hover,
.footer-open-source a:hover {
  color: #E68900; /* Darkened primary color on hover */
}

.footer-open-source p {
  color: #CCCCCC; /* Light gray text for better readability */
  margin-right: 0;
}

.copy-right {
  text-align: center;
  margin-top: 20px;
  color: #CCCCCC; /* Light gray text for better readability */
}

/* Responsiveness */
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }

  .footer-links,
  .footer-open-source {
    text-align: center;
  }

  .footer-links a,
  .footer-open-source a {
    display: block;
    margin: 5px 0; /* Increased spacing for better touch accessibility */
  }
}
